<!-- As a link -->
<nav class="navbar navbar-light bg-dark ">
    <a class="navbar-brand  " href="#" style="color:rgb(85, 98, 237);"><b>&#169; HAFC Bank Pvt.Ltd </b></a>
    <span class="quote text-light">Giving You Freedom...</span>
    <button class="btn btn-warning" (click)="logout()">logout</button>

</nav>

<h1 style="color: white;">Welcome {{user}}!!! <button class="btn btn-danger" (click)="deleteParent()">Delete</button></h1>
<a routerLink="/transaction">Transaction history</a>
<h4>Login Details :{{lDate |date :'short'}}</h4>
<app-delete (onCancel)="cancel()" [item]="acno"></app-delete>
<!-- Deposit Form -->

<div [ngClass]="acno?'style1':''" class="container col-md-12 mt-0">

    <div class="d-flex justify-content-center h-100">

        <div class="card">
            <div class="card-header">
                <h3 class="text-center">Deposit Form</h3>

            </div>
            <div class="card-body">
                <form [formGroup]="depositForm" (ngSubmit)="deposit()">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input name="acno" formControlName="acno" type="text" class="form-control"
                            placeholder="Account Number" id="login_acno" required>

                    </div>
                    <div style="color: red ;"
                        *ngIf="this.depositForm.get('acno')?.touched&&this.depositForm.get('acno')?.errors">Invalid
                        Account Number</div>

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input name="pswd" formControlName="pswd" type="password" class="form-control"
                            placeholder="Password" id="login_pswd" required>
                    </div>
                    <div style="color: red ;"
                        *ngIf="this.depositForm.get('pswd')?.touched&&this.depositForm.get('pswd')?.errors">Invalid
                        Password</div>

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input name="amount" formControlName="amount" type="text" class="form-control"
                            placeholder="Amount" id="login_amount" required>

                    </div>
                    <div style="color: red ;"
                        *ngIf="this.depositForm.get('amount')?.touched&&this.depositForm.get('amount')?.errors">Invalid
                        Amount</div>

                    <div class="form-group">
                        <input type="submit" value="Deposit" class="btn float-right login_btn " style="width:50%">
                    </div>
                </form>
            </div>
            <!-- <p style="color:white;align-items:baseline;">Existing user? <a routerLink="">Login In</a></p> -->
        </div>
    </div>
</div>

<!-- WithDrawl Form -->

<div  [ngClass]="acno?'style1':''" class="container col-md-12 mt-0">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">Withdraw Form</h3>

            </div>
            <div class="card-body">
                <form [formGroup]="withdrawForm" (ngSubmit)="withdraw()">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input name="acno1" formControlName="acno1" type="text" class="form-control"
                            placeholder="Account Number" id="login_acno1" required>

                    </div>
                    <div style="color: red ;"
                    *ngIf="this.withdrawForm.get('acno1')?.touched&&this.withdrawForm.get('acno1')?.errors">Invalid
                    Account Number</div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input name="pswd1" formControlName="pswd1" type="password" class="form-control"
                            placeholder="Password" id="login_pswd1" required>
                    </div>
                    <div style="color: red ;"
                    *ngIf="this.withdrawForm.get('pswd1')?.touched&&this.withdrawForm.get('pswd1')?.errors">Invalid
                    Password</div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input name="amount1" formControlName="amount1" type="text" class="form-control"
                            placeholder="Amount" id="login_amount1" required>

                    </div>
                    <div style="color: red ;"
                    *ngIf="this.withdrawForm.get('amount1')?.touched&&this.withdrawForm.get('amount1')?.errors">Invalid
                    Amount</div>
                    <div class="form-group">
                        <input type="submit" value="Withdraw" class="btn float-right login_btn " style="width:50%">
                    </div>
                </form>
            </div>
            <!-- <p style="color:white;align-items:baseline;">Existing user? <a routerLink="">Login In</a></p> -->
        </div>
    </div>
</div>